@{
    ViewBag.Title = "Media Browser";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<a href="@Url.Action("AddShow")" class="btn btn-primary btn-large">Add Show +</a>
<div>
 
</div>
<p>Use this area to provide additional information.</p>
