@model IEnumerable<Muse.Models.TvEpisode>
@{
    ViewBag.Title = "TvShowEpisodes";
}

<h2>Tv Show Episodes</h2>

<div class="jumbotron" style="margin-top:15px;">
    @foreach (Muse.Models.TvEpisode episode in Model)
    {
        <div class="thumbnail" style="display:inline-block; width:300px;">

            <div class="caption">
                <h3 style="margin:0px;">
                    @String.Format("{0}x{1} {2}", episode.SeasonNumber, episode.EpisodeNumber, episode.Name)
                </h3>
            </div>
            @if (!string.IsNullOrEmpty(episode.ImageUrl)) { <img src="@episode.ImageUrl" style="height:100px;" /> }
            <div class="caption">
                <p style="font-size:11px;">@episode.Description</p>
            </div>
        </div>
    }
</div> 


